body {
    font-family: TTLakes, sans-serif;
}

.dropdowm-menu {
    width:320px;
    background-color: #FFFFFF;
    box-shadow: 0 0 40px 10px #B5B8B1;
    height:100vh;
    display:flex;
    flex-direction: column;

}

.icon-size {
    width:40px;
    height:40px;  
}

.dropdown-menu__item--burger {
    background-image: url("./icons/burger2.png");
}

.dropdown-menu__item--search {
    background-image: url("./icons/search.png");
}

.dropdown-menu__logo {
    width:97px;
    height:51px;
}

.dropdown-menu__header {
    display:flex;
    height:80px;
    align-items: center;
}

.dropdown-menu__item--search {
    margin-left:auto;
    margin-right:20px;
}

.dropdown-menu__item--burger {
    margin-left:24px;
}

.dropdown-menu__item--group {
    margin-left:15px;
}

.dropdown-menu__main-content {
    margin-left:0;
    margin-top:40px;
    padding-left:0;
}

.dropdown-menu__footer {
    margin-top:auto;
    margin-bottom:20px;
    margin-left:24px;
    display:flex;
    flex-direction: column;
    row-gap:20px;
}

.footer-nav__item--call {
    background-image: url("./icons/call.png");
}

.footer-nav__item--chat {
    background-image: url("./icons/chat.png");
}

.footer-nav__item--profile {
    background-image: url("./icons/profile.png");
}

.footer-nav {
    display:flex;
    column-gap: 20px;
}

.dropdown-menu__link {
    color:#1b1c21;
    font-size:16px;
    display:flex;
    column-gap:24px;
    align-items:center;
}

.dropdown-menu__link:hover {
    color:#7E7E82;
    transition: color 2s, transform 2s;
    .dropdown-menu__highlight {opacity: 1;};
    cursor: pointer;
}

.dropdown-menu__highlight {
    background-image:url("./icons/highlight.png");
    width:4px;
    height:32px;
    opacity:0;
    transition: opacity 2s, transform 2s;
    
}

.dropdown-menu__list {
    display:flex;
    flex-direction: column;
    row-gap:20px;
}

.dropdown-menu__language {
    margin-top:30px;
    letter-spacing: -0.2px;
    font-weight: 500;
}

.dropdown-menu__language:hover {
    cursor: pointer;
}

.dropdown-menu__language--RU {
    color:#7E7E82;
}

.dropdown-menu__phone {
    font-weight:700;
    font-size: 24px;
    letter-spacing: -0.6px;
}